.formularioDeLogin{
    color: var(--preto);
    font-family: var(--fontePadrao);    
    font-size: 50px;
    background-color: var(--preto05); 
    padding: var(--titulo1) 0;
    width: 100%;
}

.formularioDeLogin__campo{     
    border: none;
    display: flex;
    flex-direction: column;    
    gap: 25px;
    margin: 0 auto;
    text-align: center;
    width: 423px;
}

.formularioDeLogin__tituloDeCampo{    
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 25px;
}



.formularioDeLogin__entrada
{ 
    border: none;
    box-sizing: border-box;
    font-size: var(--fonteGrande);      
    outline: none;
    padding: 8px 12px;
    width: 100%;
}

.formularioDeLogin__entrada::placeholder{
    color: var(--preto50);    
    font-family: var(--fontePadrao);
    font-size: var(--fonteGrande);
}

.formularioDeLogin__botaoEnviarDiv{
    margin: 25px auto 0 auto;
    width: 423px;
}

.formularioDeLogin__botaoEnviar{
    display: block;
    width:100%;
}

@media screen and (max-width: 840px){
    .formularioDeLogin__campo{
        align-items: center;
        gap: 16px;
        width: 275px;
    }

    .formularioDeLogin__botaoEnviarDiv{
        margin: 16px auto 0 auto;
        width: 275px;
    }

    .formularioDeLogin__tituloDeCampo{
        margin-bottom: 16px;
    }
    
    .formularioDeLogin__botaoEnviar
    {       
        margin: 0 auto;
        width: 109px;
    }
}